<% include ../partials/header %>

<body class="pageForm">
    <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div id="formDiv">
          
           <h1 style="text-align: center">Edit <strong><%= campground.name %></strong></h1>
                  <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" value="<%= campground.name %>">
                </div>
                
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" type="number" name="price" id="price" value="<%= campground.price %>" step="0.01" min="0" required>
                </div>
                
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= campground.location %>">
                </div>
                
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input class="form-control" type="text" name="image" id="image" value="<%= campground.image %>">
                </div>
                
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" value="<%= campground.description %>">
                </div>
                
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
                
                <div class="hr"></div>
                  <div class="foot-lnk">
                    <p> 
                      <a href="/campgrounds"> Go to Campgrounds Page! </a>
                    </p>
                </div>
                
            </form>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

    
<% include ../partials/footer %>