<% include ../partials/header %>

        
        <header class = "jumbotron indexJumbo">
            <div class = "container">
               <h1><span class="glyphicon glyphicon-tent fa-fw"></span>Welcome to YelpCamp</h1>
               <p>View our hand-picked campgrounds from all over the world!</p>
               <p>
                   <a class = "btn btn-primary btn-lg text-center" href = "/campgrounds/new">Add a new Campground!</a>
               </p>
            </div>
        </header>
    
    <div class = "row text-center flex" >
        <div class = "col-md-12">
            <% if(noMatch !== undefined){ %>
            <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% campgrounds.forEach(function(campground){ %>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail">
                     <img id="indexImg" src="<%= campground.image %>" alt="Sorry! Image not available at this time" 
                          onError="this.onerror=null; this.src='https://dummyimage.com/hd1080/fcfcfc/000000&text=No+Image+';"
                          height="240" width="420">
    
                    <div class="caption text-center">
                            <h3> <%= campground.name %> </h3>
                                <h6>Posted By: <a href = "/users/<%= campground.author.id %>"><em><strong><%=campground.author.username.capitalize()%></strong></em></a></h6>
                            <br/>
                                <p> <a class="btn btn-xs btn-info" href="/campgrounds/<%= campground._id %>">Details</a> </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

        
<% include ../partials/footer %>